/*
Clivan -- Christopher Liu, Ivan Mijacika
SoftDev pd0
K20 -- Throw Some Forking STUYLE On It
2021-11-24
*/

body {
    background-color: #ade8f4;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    color: #023e8a;
}

nav {
    background-color: #0077b6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #03045e;
}

h1 {
    color: #023e8a;
}
